<h1 class="center-align">{{type}}s!<br />
    <img src="/assets/img/pie.png" class="centerpie">
</h1>

<div class="row">
    <div class="col s12 m5 pies">
        <ol>
            {{#each pies}}
            {{#unless devoured}}
            {{> pies/pie-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="col s12 m2">
    </div>

    <div class="col s12 m5 pies2">
        <ol>
            {{#each pies}}
            {{#if devoured}}
            {{> pies/pie-block devoured=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>

    <div class="col s12 pies">
        <div class="hide-on-med-and-down">
            <h2>Add a {{type}}</h2>
        </div>
        <div class="hide-on-large-only">
            <h4>Add a {{type}}</h4>
        </div>
        <form class="create-form">

            <div class="form-group">
                <label for="pie">{{type}} Name:</label>
                <input type="text" id="pie" name="pieName">
            </div>

            <button type="submit">Add {{type}}</button>
        </form>
        <p class="flow-text">
            Don't see the kind of pie you want to eat here? Add another!
        </p>
    </div>
</div>