<h1>{{type}}s!</h1>

<h2>{{type}}s available to eat!</h2>

<ol>
    {{#each pies}}
    {{#unless devoured}}
    {{> pies/pie-block devoured=true}}
    {{/unless}}
    {{/each}}
</ol>

<h2>{{type}}s already eaten!</h2>

<ol>
    {{#each pies}}
    {{#if devoured}}
    {{> pies/pie-block devoured=false}}
    {{/if}}
    {{/each}}
</ol>

<h2>Add a {{type}}</h2>
<form class="create-form">

    <div class="form-group">
        <label for="pie">{{type}} Name:</label>
        <input type="text" id="pie" name="pieName">
    </div>

    <button type="submit">Add {{type}}</button>
</form>